<div class="container-fluid">
    <div class="row">
        <div class="col" style="font-size:x-large;">
            <p>Here are examples of the films I have created and edited using a variety of tools.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> Ballroom Writes Its Own Story </b></h2>
            <p style=color:black; > Documentary short that examines Chicago's Ballroom Scene</p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/827683971?h=27b91e25cf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ballroom Writes Its Own Story"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <strong> Monitors </strong></h2>
            <p style=color:black; > A collection of Chicago perspectives</p>
            <div style="padding:41.89% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/827683254?h=143e374bc6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Monitors"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
    <div class="row">    
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <strong> Passage by Train</strong></h2>
            <p style=color:black; > Traveling the city via Metra</p>
            <div style="padding:41.89% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/827683304?h=9ca41ea656&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Passage by Train"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>

        <div class="col-md-6 col-sm-12 p-3">
            <h2><b>Chess-Boxing</b></h2>
            <p style=color:black; > You must think first before you move</p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/828455084?h=4963933675&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Chess-Boxing"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
            <h2><strong> Kindred </strong></h2>
            <p style=color:black; > Archival edit exploring my ancestry </p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/828464075?h=6bd34d5964&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Self Portrait- &amp;quot;Kindred&amp;quot;"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> Rush Hour </b> </h2>
            <p style=color:black;> Stop motion animation about getting home for the weekend </p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/629177146?h=b7e2430eff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Rush Hour"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> Gizmo </b></h2>
            <p style=color:black; > A brief moment with Gizmo the cat </p>
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/828789605?h=b1ed7f2337&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Gizmo"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>

        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> Bet On It</b></h2>
            <p style=color:black; > Short documentary exploring a college student's experience with sports betting </p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/629187398?h=c87028a8a9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Bet on It"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> This is the End </b> </h2>
            <p style=color:black; > Music video shot and edited for a friend </p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/629192426?h=dd88c036d8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="This is the End"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> Remote</b></h2>
            <p style=color:black; > Brief short for Digital Cinema Production class</p>
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/628538047?h=99aed2d476&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="&amp;quot;The Activity&amp;quot; - Remote"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
            <h2> <b> The Meeting </b></h2>
            <p style=color:black; > Class final for Digital Cinema Production at Cinespace Chicago Film Studios</p>
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/828790639?h=80902d56cb&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="The Meeting (Final cut) - FILM 110"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>

</div>