<div class="container">
    <div class="row">
    
    <section>
        <h2> <b> Ballroom Writes Its Own Story </b></h2>
        <p style=color:black; > Documentary short that examines Chicago's Ballroom Scene</p>
        <iframe src="https://player.vimeo.com/video/827683971?h=27b91e25cf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="CHI_Group4_BallroomWritesItsOwnStory"></iframe>
    </section><br>

    <section>
        <h2> <strong> Monitors </strong></h2>
        <p style=color:black; > A collection of Chicago perspectives</p>
        <iframe src="https://player.vimeo.com/video/827683254?h=143e374bc6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Monitors"></iframe>
    </section><br>
    
    <section>
        <h2> <strong> Passage by Train</strong></h2>
        <p style=color:black; > Traveling the city via Metra</p>
        <iframe src="https://player.vimeo.com/video/827683304?h=9ca41ea656&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Passage by Train"></iframe>
    </section><br>

    <section>
        <h2><b>Chess-Boxing</b></h2>
        <p style=color:black; > You must think first before you move</p>
        <iframe src="https://player.vimeo.com/video/828455084?h=4963933675&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Klump_Post306_FinalProject"></iframe>
    </section><br>
    
    <section>
        <h2><strong> Kindred </strong></h2>
        <p style=color:black; > Archival edit exploring my ancestry </p><iframe src="https://player.vimeo.com/video/828464075?h=6bd34d5964&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Klump_POST306_Project2"></iframe>
    </section><br>

    <section> 
        <h2> <b> Rush Hour </b> </h2>
        <p style=color:black;> Stop motion animation about getting home for the weekend </p>
        <iframe src="https://player.vimeo.com/video/629177146?h=b7e2430eff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Rush Hour"></iframe>
    </section><br>
    
    <section>
        <h2> <b> Gizmo </b></h2>
        <p style=color:black; > A brief moment with Gizmo the cat </p>
        
    </section><br>

    <section>
        <h2> <b> Bet On It</b></h2>
        <p style=color:black; > Short documentary exploring a college student's experience with sports betting </p>
        <iframe src="https://player.vimeo.com/video/629187398?h=c87028a8a9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Bet on It"></iframe>
    </section><br>
    
    <section>
        <h2> <b> This is the End </b> </h2>
        <p style=color:black; > Music video shot and edited for a friend </p>
        <iframe src="https://player.vimeo.com/video/629192426?h=dd88c036d8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="This is the End"></iframe>
    </section><br>
    
    <section>
        <h2> <b> Remote</b></h2>
        <p style=color:black; > Brief short for Digital Cinema Production class</p>
        <iframe src="https://player.vimeo.com/video/628538047?h=99aed2d476&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="560" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="&amp;quot;The Activity&amp;quot; - Remote"></iframe>
    </section><br>

<section>
    <h2> <b> The Meeting </b></h2>
    <p style=color:black; > Class final for Digital Cinema Production at Cinespace Chicago Film Studios</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8ksDNxBpnYA" title="Vimeo video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section><br>


        
     </div>
    
        

    
</div>