<div class="container-fluid">
  <div class="row"></div>
    <div class="col text-center">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1017994791?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="October 2024 Demo Reel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script><br>
            <!--<div style="padding:50.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/834054111?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klump_DemoReel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script><br> -->
  </div> 
    <div class="row"></div>
      <div class="col-sm front-page">
        <p> BFA in <a href="https://www.cdm.depaul.edu/academics/Pages/BFA-in-Film-and-Television.aspx" target="_blank">Film and Television</a> from <a href="www.depaul.edu">DePaul University</a> '23. My major concentration was film editing, with a minor in Information technology. </p>

        <p> Owner of Nautilus Productions, LLC, specializing in editorial and videography </p>
<!--        <p><a target="_blank" href="https://docs.google.com/document/d/12s3whM6eezfJJ7NW5ToSifzx-BISh693MYi6zsarpm8/edit?usp=sharing" style=color:navy> Work Resume</a> -- Based in Chicago</p>
-->
       <!-- <p><a target="_blank" href="docs/Conor Klump_RESUME_Oct2024.pdf" style=color:navy> Work Resume</a> -- Based in Chicago</p>-->

        <p> Connect with me on <a target="_blank" href="https://www.linkedin.com/in/conor-klump-41289520a/" style=color:navy> LinkedIn</a>! </p>

        <p> <!-- I am proficient in
            <ul>
                <li><a href="https://www.adobe.com/creativecloud.html" target="_blank">Adobe Creative Suite</a></li>
                <li><a href="https://www.blackmagicdesign.com/products/davinciresolve" target="_blank">Davinci Resolve</a></li>
                <li><a href="https://www.avid.com/pro-tools" target="_blank">Avid Pro Tools</a></li>
                <li><a href="https://www.avid.com/media-composer" target="_blank">Avid Media Composer</a></li>
            </ul>
        </p>
        <p>I have additional experience in <a href="https://www.foundry.com/products/nuke-family/nuke" target="_blank">Nuke</a> and <a href="https://www.blender.org/" target="_blank">Blender</a>. </p> -->

        <p> Please enjoy the <a href="films"> films</a>, <a  href="reels">reels</a>, and <a href="itwork">IT Work</a> I have worked on so far.</p>

        <p> For inquiries and opportunities, contact me by phone at <b>815-212-3535</b> or by email at <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox/KtbxLthhrNkhrNgTwfrzkdRJQCTbhWcDmL?compose=GTvVlcSHwChfvsRGmjFKJRxdZxgmkBXfzRSTwJXGLmMdJqGhHvbpHBzbpfvgQBCGXQPhSLgKrbGKl"> conormike@gmail.com</a>.
        <br>
      </div>
      <div class="row">
        <div class="col text center">
          <img src="images/cmk.jpg" width="400px" alt="sketch of Damen Silos, CMK graffiti"></img>
          <caption> Art by <a href="https://www.instagram.com/am3rican.art/">Erica Doan</a></caption>
        </div>
    </div>
    </div>
</div>
