<div class="container">
    <div class="row">
            <section><h2> <b> HTML, CSS, and Javascript </b></h2>

            <p> Used html, css, and javascript to create a dynamic website template, the same used to build this portoflio website. </p>

            <p><a href="https://github.com/cklump25/nodejs_website_example.git">https://github.com/cklump25/nodejs_website_example.git</a></p><br></section>

            <section> 
            <h2> <b> Python</b> </h2>

            <p> Proficient in Python. I have created basic programs to handle simple tasks. </p>

            <p><a href="https://github.com/cklump25/python_project_1.git">https://github.com/cklump25/python_project_1.git</a> <p></section>
            
    </div>
</div>