<div class="container-fluid">
    <div class="row">
        <div class="col" style="font-size:x-large;">
            <p>Here are examples of the IT projects I have worked on</p>
        </div> <br>
    </div>
    <div class="row"></div>
      <div class="col-sm front-page">            
        <h2><b>HTML, CSS, Javascript, and NodeJS</b></h2>
            <p> Used html, css, javascript, and <a href="https://nodejs.org/en" target="_blank">Node.JS</a> to create a dynamic website template.</p>
            <p><a href="https://github.com/cklump25/nodejs_website_example.git">https://github.com/cklump25/nodejs_website_example.git</a></p>
            <p>I also used these skills to build the portfolio website you are reading now.</p><br>
        <h2> <b>Code Management</b></h2>
            <p>I am skilled managing code and assets with <a href="https://git-scm.com" target="_blank">git</a> and <a href="https://www.github.com" target="_blank">GitHub</a>.</p>
            <p>This website is automatically deployed to <a href="https://azure.microsoft.com/en-us" target="_blank">Microsoft Azure</a> using a GitHub Action</p>
        <br/>
        <h2> <b>Python</b> </h2>
            <p> Skilled in Python. I have created basic programs to handle simple tasks. </p>
            <p><a href="https://github.com/cklump25/python_project_1.git" target="_blank">https://github.com/cklump25/python_project_1.git</a> </p>
        <br/>
        <h2> <b>Databases and SQL</b></h2>
            <p>Familiar with designing databases and writing queries. Here is a final report I wrote for a class on database systems.</p>
            <p><a href="docs/db_final_project.pdf" target="_blank">Cinemate Database Design and Queries</a></p>
        <br/>
    </div>
</div>