<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <img src="images/nautilus_logo.png" width="400" alt="nautilus productions logo">
      <!-- <caption> Art by <a href="https://www.instagram.com/am3rican.art/">Erica Doan</a></caption> -->
    </div>
  </div>

  <div class="row">
    <div class="col" style="font-size:x-large;">
      <p>Nautilus Productions, LLC is a videography company based in Chicagoland. Clients include the Roman Catholic Diocese of Joliet, Castle Law, Happy Belly Chefs, and St. Walter School. Please enjoy samples of work done by Nautilus!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-3">
      <h2><b>Castle Law - Here for a Change</b></h2>
      <p style="color:black;">Commercial for Castle Law, here for a change</p>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/1017994791?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="October 2024 Demo Reel"></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>

    <div class="col-md-6 p-3">
      <h2><b>Diocese of Joliet Video Content</b></h2>
      <p style="color:black;">Film and edit monthly content for the Diocese of Joliet including PSAs from Bishop Ron Hicks, interviews with seminarians and diocesan officials, and a podcast series for the institution's 75th anniversary. Also designed and setup video recording studios complete with an ATEM video switcher.</p>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/828828349?h=e031e01683&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klump VFX_Animation Reel Nov. 2021"></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-3">
      <h2><b>Navajo Nation Mission Promo</b></h2>
      <p style="color:black;">Traveled to Chinle, AZ to document the annual Navajo Nation construction and outreach mission sponsored by the Diocese of Joliet.</p>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/828828349?h=e031e01683&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klump VFX_Animation Reel Nov. 2021"></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>

    <div class="col-md-6 p-3">
      <h2><b>St. Walter School</b></h2>
      <p style="color:black;">Social media short for Happy Belly Chefs.</p>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/828828349?h=e031e01683&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klump VFX_Animation Reel Nov. 2021"></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
</div>
