<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
        <h2><b> Editorial and Production Reel </b></h2>
                <p style=color:black; > Compilation of editorial excerpts </p>
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1017994791?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="October 2024 Demo Reel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script><br>
                <!--<div style="padding:50.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/834054111?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klump_DemoReel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script><br> -->
      </div>          
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 p-3">
        <h2><b> Animation Reel </b></h2>
                <p style=color:black; > Compilation of projects produced using the Adobe Creative Suite during my time at DePaul</p>
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/828828349?h=e031e01683&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Klump VFX_Animation Reel Nov. 2021"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>          
    </div>
</div>